[Bb]in/
[Oo]bj/
dist/
publish/
tools/ffmpeg/
*.zip
*.sha256
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
*.ncrunch/
*.ncrunchproject/
*.DotSettings.user
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.ionide
.idea/
*.sln.iml
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
*.log
*.tmp
*.bak
*.cache
